{% extends 'base.html' %}

{% block title %}Issuances List{% endblock %}

{% block content %}
<div class="container">
    <h2>List of Issuances</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Issuance ID</th>
                <th>Asset Name</th>
                <th>User Name</th>
                <th>Date Issued</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for issuance in issuances %}
            <tr>
                <td>{{ issuance.id }}</td>
                <td>{{ issuance.asset.asset_name }}</td>
                <td>{{ issuance.user.name }}</td>
                <td>{{ issuance.date_issued }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{{ url_for('issuance.update_status', id=issuance.id) }}'">Update</button>
                    <button type="submit" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ issuance.id }}">Delete</button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ issuance.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ issuance.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel{{ issuance.id }}">Warning</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this issuance?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form action="{{ url_for('main.delete_issuance', id=issuance.id) }}" method="POST" style="display:inline;">
                                      <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="text-center text-bottom">
        <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('issuance.add_issuance') }}'">Add an Issuance</button>
    </div>

</div>
{% endblock %}
